/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}





/* Links */

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;

}

/* Common */



h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ol, ul {
    list-style: none;

}

img {
    display: block;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}






body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #22343d;
}